<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="container">

                <div class="navbar-header">
                <button class="navbar-toggler" data-toggle="open-navbar1">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="#">
                    <h4>CITE 006 Lab Activity</span></h4>
                </a>
                </div>

                <div class="navbar-menu" id="open-navbar1">
                <ul class="navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <section id="home" class="sec-about">
            <h1 class="main-heading text-shadow">This is About</h1>
        </section>

    </body>
</html>
